<!-- Navigation menu -->
	<a id="menu-toggle" href="#" class="btn-dark-menu">
		<div class="icon-menu"></div>
	</a>
	<nav id="sidebar-container">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#top">J&amp;R - Computing</a>
            </li>
        </ul>
    </nav>