.form-inputNewUser {
	background: #FFFFFF;
    font-size: 0.8rem;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    padding: 13px 10px;
    width: 270px;
    margin-bottom: 20px;
    box-shadow: inset 0 2px 3px rgba( 0, 0, 0, 0.1 );
    clear: both;
    display: none;
    margin: 0 auto;
}

.form-inputNewUser:focus {
	background: #fff;
    box-shadow: 0 0 5px 2px #005BFF, inset 0 2px 3px rgba( 0, 0, 0, 0.2 ), 0px 5px 5px rgba( 0, 0, 0, 0.15 );
    outline: none;
}

inputs:-webkit-input-placeholder {
    color: #b5b5b5;
}

inputs-moz-placeholder {
    color: #b5b5b5;
}

.formNewUser {
	padding: 20px;
	background-color: #FFFFFF;
	max-width: 350px;
	border-radius: 10px;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	border-color: rgba(141, 255, 148, 1);
	border-width: 1px;
	border-style: solid;
	display: none;
	font-family: 'sans-serif';
}

.formNewUser h1 {
	font-size: 1.5em;
	color: #161721;
	font-family: 'sans-serif';
	text-align: center;
}

.btn_newUser {
	padding: 5px 15px;
	font-size: 20px;
	background-color: #00B037;
	border-radius: 4px;
	border: none;
	outline: none;
	font-family: 'sans-serif';
	color: white;
	display: inline-block;
}

.btn_newUser:hover {
	background-color: #27E04B;
}

.button_newUser {
	width: 350px;
	display:none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

.btnSend_newUser {
	margin-left: 120px;
}

.error-newUser {
	background-color: #BD3A3A;
	font-family: 'sans-serif';
	color: white;
	border-width: 2px;
	border-color: #620000;
	border-radius: 5px;
	border-style: solid;
	padding: 2px;
	text-align: center;
	font-size: 12px;
	display: none;
}

.newUserLink {
	color: white;
	font-family: 'comic sans ms';
	font-size: 15px;
	text-decoration: none;
}

.formNewUser ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.formNewUser ul li {
	font-size: 10px;
	margin: 10px 20px;
}

.pwdInfo, .pwdInfo2, .usrInfo, .emailInfo {
	width: 300px;
	padding: 15px;
	margin-top: 10px;
	margin-left: 10px;
	background: #fefefe;
	border-radius: 5px;
	box-shadow: 0 1px 3px #ccc;
	border: 1px solid #ddd;
	display: none;
}

.invalid {
	background:url(/images/invalid.png) no-repeat 0 50%;
	background-size: 12px;
	padding-left:22px;
	line-height:24px;
	color:#ec3f41;
}

.valid {
	background:url(/images/valid.png) no-repeat 0 50%;
	background-size: 12px;
	padding-left:22px;
	line-height:24px;
	color:#3a7d34;
}