<form action="/session/create" methode="POST">
	<input type="text" placeholder="Adresse mail" name="emailLogin" />
	<input type="password" placeholder="Mot de passe" name="pwdLogin" />
	<input type="submit" value="Connexion" />
	<input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>